@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

nav a.active {
    @apply bg-gradient-to-r 
        from-purple-700 
        to-purple-500 
        bg-clip-text 
        text-transparent
}

.gradient-btn {
  @apply text-white font-bold bg-gradient-to-r from-purple-800 to-purple-600 border border-purple-600 py-2 px-4 rounded
}

.gradient-btn:hover {
  @apply opacity-90
}

.gradient-text  {
  @apply bg-gradient-to-r 
        from-purple-700 
        to-purple-500 
        bg-clip-text 
        text-transparent
}